* {
	font-family: arial, sans-serif;
	font-size: 15pt;
}

body {
	margin-left: .75in;
	margin-top: 0.5in;
}

table {
	border-collapse: collapse;
	width: 1550px;
}

td, th {
	border: 1px solid #dddddd;	
	padding: 8px;
	font-size: 12pt;
}

tr:nth-child(eve) {
	background-color: #dddddd;
}

th.complete {
	width: 5in;
}

img.percentage {
	width: 90%;	
	height: 20px;
}


td.percentageDisplay {
	font-weight: bold;
	width: 5%;
	text-align: right;
}
button.edit, .submitButton, button#search {
	background-color: black;
	color:white;
	width: 1.6in;
	height: .4in;
}

button#search {
	width: 1.35in;
}

.taskForm label {
	width: 1.25in;
	display: inline-block;
	color: black;
	font-weight: bold;
}

span.new, h2 {
	font-size: 35pt;
}

#newTask2
{
	font-size: 20pt;
	color: green;
}


span.new {
	color: green;
	font-weight: bolder;
}

tfoot th {
	text-align:center;
}

input, select {
	-padding: 4px;
	height: .45in;
	padding-left: 3px;
}

input[type="text" i] {
    padding: 0px 0px;
}

.sortImg {
	width: 25px;
	height: 25px;
}

